/* voy a realizar un diseño basado en una flexbox-layout para que sea responsive */
* {
	box-sizing: border-box;
}

/* estilo del cuerpo */
body {
	color: #546E7A;
	background-color: #FFF;
	font-family: Helvetica, Arial, sans-serif;
	margin: 0
}

/* barra de navegación */
.topbar {
	display: flex;
	flex-wrap: wrap;
	background-color: #008080;
	padding: 20px 150px 20px 150px;
}

.half_panel {
	flex: 50%;
}

.half_panel a {
	display: inline-block;
	color: white;
	padding: 14px 20px;
	text-decoration: none;
	text-align: center;
}

.half_panel a:hover {
	background-color: #76D7C4;
	color: white;
}

.half_panel button {
	background-color: #E5E7E9;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

/* estilo del header */
.header {
	color: #FFFFFF;
	background: #008080;
	text-align: center;
	font-size: 60px;
	padding: 20px 50px 20px 50px;
}

.header button {
	background-color: #8BC34A;
	border: none;
	color: white;
	padding: 15px 32px;
	text-decoration: none;
	display: block;
	font-size: 16px;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}

/* estilo de la parte intermedia 1 */
.container1 {
	background-color: white;
	padding: 50px 150px 50px 150px;
}

.activities {
	display: flex;
	flex-wrap: wrap;
	padding-top: 50px;
}

.activity {
	flex: 33.33%;
	padding: 20px;
	text-align: center;
}

.activity p {
	font-size: 14px;
}

.activity h4 {
	font-size: 16px;
	color: #008080;
}

.activity-img {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	min-width: 200px;
	min-height: 200px;
	max-width: 200px;
	max-height: 200px;
}

/* estilo de la parte intermedia 2 */
.container2 {
	background-color: #F5F5F5;
	padding: 50px 150px 50px 150px;
}

.description {
	text-align: center;
	font-size: 14px;
}

.container1 h2, .container2 h2 {
	text-align: center;
	color: #008080;
}

.teamates {
	display: flex;
	flex-wrap: wrap;
	padding-top: 50px;
}

.teamate {
	flex: 33.33%;
	padding: 20px;
}

.teamate p {
	text-align: left;
	font-size: 14px;
}

.teamate h4 {
	color: #008080;
}

.teamate-img {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 20px;
	min-width: 400px;
	min-height: 267px;
	max-width: 400px;
	max-height: 267px;
}

/* estilo del prefooter */
.prefooter {
	background-color: #8BC34A;
	padding: 25px 150px 25px 150px;
	display: flex;
	flex-wrap: wrap;
	color: white;
}

.prefooter p {
	font-size: 14px;
}

.prefooter_part1 {
	flex: 60%;
}

.prefooter_part2 {
	flex: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.prefooter_part2 button {
	background-color: #558B2F;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
}

/* estilo del footer */
.footer {
	background-color: #FFF;
	padding: 25px 150px 25px 150px;
	display: flex;
	flex-wrap: wrap;
}

.footer h4 {
	color: #008080;
}

.footer ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.footer li {
	padding: 5px;
}

.footer a {
	color: #546E7A;
	font-size: 14px;
	text-decoration: none;
}

.footer a:hover {
	color: #2C3E50;
}

.footer p {
	font-size: 14px;
}

.footer input {
	width: 100%;
	border: none;
	color: #546E7A;
	background-color: #F5F5F5;
	font-size: 14px;
	outline: none;
	padding: 14px 20px;
	padding-left: 40px;
	background-image: url('../logos/paper-plane.png');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	background-size: 20px 20px;
}

.footer input:focus {
	background-color: #EBF5FB;
}

.footer_panel {
	padding: 5px;
	flex: 25%
}

/* estilo del footer */
.contacts {
	background-color: #FFF;
	padding: 25px 150px 25px 150px;
	display: flex;
	flex-wrap: wrap;
}

.contacts_part1 {
	flex: 70%;
}

.contacts_part1 p {
	font-size: 14px;
}

.contacts_part2 {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 30%;
}

.contacts img {
	width: 30px;
	height: 30px;
	margin: 10px;
}

.separator1 {
	border-top: 1px solid #8BC34A;
	width: 50px;
}

.separator3 {
	border-top: 1px solid #D6DBDF;
	width: auto;
	max-width: 85%;
}

@media screen and (max-width: 1000px) {
	.teamates .activities .topbar, .contacts, .footer {
		flex-direction: column;
	}

	.teamate-img {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		min-width: 150px;
		min-height: 100px;
		max-width: 150px;
		max-height: 100px;
	}

	.activity-img {
		display: flex;
		margin-left: auto;
		margin-right: auto;
		min-width: 100px;
		min-height: 100px;
		max-width: 100px;
		max-height: 100px;
	}
}
