<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Test Home </title>
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/stylesheet.css"/>
    <link rel="icon" type="image/x-icon" href="../static/logos/favicon.ico"/>
</head>
<body>

    <!-- topbar -->
    <div class="topbar">
        <div class="half_panel">
            WAPIK | +62 202 555 0117
        </div>
        <div class="half_panel">
            +62 202 555 0117
        </div>
    </div>

    <!-- header -->
    <div class="header">
        Cras justo odio, dapibus ac facilisis in egestas eget quam
    </div>

    <!-- main 1 -->
    <div class="main1">
        <h4>
           About Us 
        </h4>
        <hr>
        <div class="description">
            Exercitation cupidatat exercitation aliquip esse nostrud nostrud enim ea voluptate do nostrud do proident in sit magna culpa occaecat aliqua occaecat ullamco occaecat ea est enim adipisicing ex ut deserunt consectetur ut ad eu dolore.
        </div>
        <div class="activities">
            <div class="activity">
                <img class="activity-img" src="../static/logos/icon1.png" alt="icon1"/>
                <div><b>Ionicons</b></div>
                <div>Est sint ullamco tempor nostrud ex sint laborum occaecat occaecat cillum adipisicing et eiusmod non.</div>
            </div>
            <div class="activity">
                <img class="activity-img" src="../static/logos/icon2.png" alt="icon2"/>
                <div><b>Creative Design</b></div>
                <div>Excepteur sunt ut eu tempor tempor id sunt non.</div>
            </div>
            <div class="activity">
                <img class="activity-img" src="../static/logos/icon3.png" alt="icon3"/>
                <div><b>Photoshop and Sketch</b></div>
                <div>Deserunt deserunt ad laboris commodo ad nulla eu irure ullamco.</div>
            </div>
        </div>
    </div>

    <!-- main 2 -->
    <div class="main2">
        <h4>
           Meet Our Team
        </h4>
        <hr>
        <div class="description">
            Cillum excepteur quis non elit amet adipisicing sed aliquip nisi mollit irure est incididunt culpa dolore ut dolore dolor sint id officia sit.
        </div>
        <div class="teamates">
            <div class="teamate">
                <img class="teamate-img" src="../static/imgs/teamate1.jpg" alt="teamate1"/>
                <div><b>Joyce Hudson</b></div>
                <div>Founder & Designer</div>
            </div>
            <div class="teamate">
                <img class="teamate-img" src="../static/imgs/teamate2.jpg" alt="teamate2"/>
                <div><b>Angela Campbell</b></div>
                <div>Project Manager</div>
            </div>
            <div class="teamate">
                <img class="teamate-img" src="../static/imgs/teamate3.jpg" alt="teamate3"/>
                <div><b>James Walker</b></div>
                <div>Developer</div>
            </div>
        </div>
    </div>

    <!-- prefooter -->
    <div class="prefooter">
        <div class="prefooter_part1">
            <h4>Do You Like Wapik? Download it Now</h4>
            Quis incididunt do dolor fugiat proident qui cillum qui dolore sit ex adipisicing.
        </div>
        <div class="prefooter_part2">
            <button type="button">DOWNLOAD NOW! - FOREVER FREE</button>
        </div>

    </div>

    <!-- footer -->
    <div class="footer">
        <div class="footer_panel">
            <h7>WAPIK</h7>
            <ul>
                <li><a href="mailto:hi@wapik.com">@: hi@wapik.com</a></li>
                <li><a href="tel:+622025550117">p: +62 202 555 0117</a></li>
                <li>a: 610 Overlook Circle Suite 323 Kalamazoo, Mi 49009</li>
            </ul>
        </div>
        <div class="footer_panel">
            <h7>Company</h7>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Pricing</a></li>
                <li><a href="#">Contact Us</a></li>
            </ul>
        </div>
        <div class="footer_panel">
            <h7>Others</h7>
            <ul>
                <li><a href="#">Help & Support</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms</a></li>
                <li><a href="#">Sitemap</a></li>
            </ul>
        </div>
        <div class="footer_panel">
            <h7>Newsletter</h7>
            <p>Subscribe to our newsletter and get all the cool news</p>
            <input name="newsletter-input" type="text" size="15" placeholder="Enter Email">
        </div>
    </div>

    <!-- contacts -->
    <div class="contacts">
        <div class="contacts_part1">All rights reserved 2015.</div>
        <div class="contacts_part2">
            <a href="#"><img src="../static/logos/iconmonstr-twitter-4-240.png" alt="twitter logo" /></a>
            <a href="#"><img src="../static/logos/iconmonstr-facebook-4-240.png" alt="facebook logo" /></a>
            <a href="#"><img src="../static/logos/iconmonstr-instagram-4-240.png" alt="instagram logo" /></a>
            <a href="#"><img src="../static/logos/iconmonstr-pinterest-4-240.png" alt="pinterest logo" /></a>
            <a href="#"><img src="../static/logos/iconmonstr-github-4-240.png" alt="github logo" /></a>
        </div>
    </div>

    
</body>
</html>