<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Test Home </title>
    <link rel="stylesheet" type="text/css" href="../static/stylesheets/stylesheet.css"/>
    <link rel="icon" type="image/x-icon" href="../static/logos/favicon.ico"/>
</head>
<body>

    <!-- topbar -->
    <div class="topbar">
        <div class="half_panel">
            WAPIK | +62 202 555 0117
        </div>
        <div class="half_panel">
            +62 202 555 0117
        </div>
    </div>

    <!-- header -->
    <div class="header">
        Cras justo odio, dapibus ac facilisis in egestas eget quam
    </div>

    <!-- main 1 -->
    <div class="main1">
        MAIN1
    </div>

    <!-- main 2 -->
    <div class="main2">
        MAIN2
    </div>

    <!-- prefooter -->
    <div class="prefooter">
        PREFOOTER
    </div>

    <!-- footer -->
    <div class="footer">
        FOOTER
    </div>

    
</body>
</html>